.App {
  text-align: center;
  font-style: arial;
}

.phone-picture {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  font-size: 48px;
  margin: 0px;
  padding: 15px;
}

.phone-company {
  font-size: 32px;
  color: grey;
  margin: 0px;
  padding-bottom: 25px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}